<h1 class="text-center">New Contact</h1>

<div class="row top-buffer-20">

  <%= render 'form' %>

</div>

<div class="row top-buffer text-center">
  <%= link_to 'Back to contacts', contacts_path %>
</div>
